input {
  color: #e0e6eb;
}

mat-form-field {
  width: 100%;
}

.aligner {
  background-color: #1c4c74;
  flex-direction: column;
}

.eclickIMG {
  margin-top: 15px;
}

.mainBox {
  background-color: #3494d4;
  color: #e0e6eb;
}

.signInButton {
  text-align: right;
}

.signInButtonB {
  background-color: #3cacf4;
  color: #e3e9ee;
}

.usernameField {
  margin-bottom: 10px;
  margin-top: 10px;
}
