/* ESTILOS DEl HOME */

.logo {
  border: 0px;
  margin-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.navBar {
  background-color: #3085be;
  display: flex;
  justify-content: space-between;
}



button {
  margin: 10px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #5bade0;
  color: #e1e7ec;
}

.logOutButton {
  margin-left: 40px;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-between;
  right: 0px;
}

.sticky {
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
  width: 100%;
}
